@import '~bootstrap/scss/bootstrap';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

section {
  align-content: center;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px;
  margin: 5px auto;
  width: 270px;
}

.cell {
  border: 1px solid #000;
  margin: 0;
  padding: 0;
}
